body {
  background-color: hsl(0, 0%, 12.5%);
  color: hsl(0, 0%, 87.5%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 8vmin;
  height: 100vh;
  line-height: 1;
  margin: 0;
  width: 100vw;
}
#indicator {
  background-image: linear-gradient(45deg, hsl(0, 0%, 25%), hsl(0, 0%, 50%));
  border-radius: 4vmin;
}
#text {
  opacity: 0.5;
  padding: 4vmin;
  text-align: center;
  white-space: pre-line;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.row {
  align-items: center;
  display: flex;
  justify-content: center;
}
/**/
#indicator,
#minutes,
#seconds {
  font-size: 16vmin;
  padding: 4vmin;
}
#start {
  text-align: right;
}
#start,
#stop {
  cursor: pointer;
  font-size: 16vmin;
  padding: 8vmin;
  width: 50%;
}
.row:first-child {
  flex-grow: 1;
}
